body {  
    background-color: lightblue; 
    }
main {
    background-color: rgb(0, 72, 139);
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}
footer{
    text-align: center;
    background-color: darkcyan;
    color: white;
}
header{
    text-align: center;
    color: white;
    background-color: darkcyan;
}
h1{
    text-align: center;
    color: white;
    background-color: rgb(0, 72, 139);
}
